.clearfix {
  content: "";
  display: block;
  clear: both;
}

.wrapper {
  width: 1110px;
  margin: auto;
}

.header {
  background-color: #fff;
  padding: 38px 0;
}

.header__logo-link {
  display: inline-block;
  text-decoration: none;
}

.logo-link__fl {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #0f0101;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-link__fl::first-letter {
  color: #1abc9c;
}

.header__nav-list {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
}

.header__nav-listitem {
  float: left;
}

.header__nav-listitem:not(:last-of-type) {
  margin-right: 32px;
}

.header__nav-link:hover {
  color: #1abc9c;
}

.header__nav-link {
  text-decoration: none;
  color: #0f0101;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__slider {
  height: 350px;
  background-image: url("../img/background.jpg");
  position: relative;
}

.container {
  padding-top: 225px;
  text-align: center;
}

.main__slider-textwrap {
  display: inline-block;
}

.main__slider-name,
.main__slider-text {
  margin: 0;
  padding: 0;
}

.main__slider-name {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 60px;
  font-weight: 900;
}

.main__slider-text {
  float: left;
  margin-top: 25px;
  color: #ffffff;
  font-family: "Roboto Light";
  font-weight: 300;
  font-size: 16px;
}

.left-slide:hover,
.right-slide:hover {
  background-color: #4ec6ab;
}

.main__collection {
  padding-top: 101px;
  padding-bottom: 100px;
  text-align: center;
  background-color: #e9f0fd;
}

.newcollection-name {
  display: inline-block;
  margin: 0;
  margin: auto;
  color: #515151;
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

.newcollection-name::after {
  content: "";
  display: block;
  margin: 32px auto 0;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
}

.newcollection-list {
  padding: 0;
  margin-top: 81px;
  font-size: 0;
}

.newcollection-listitem {
  list-style: none;
  position: relative;
  display: inline-block;
  margin: 0;
  width: 255px;
}

.newcollection-listitem:not(:last-of-type) {
  margin-right: 30px;
}

.newcollection-listitem-link {
  display: inline-block;
  text-decoration: none;
  font-size: 0;
}

.newcollection-img {
}

.newcollection-product {
  background-color: #323232;
  height: 40px;
}

.newcollection-productname {
  float: left;
  margin: 0;
  padding-left: 14px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
}

.newcollection-productprice {
  float: right;
  margin: 0;
  padding: 0 12px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
}

.hover-info {
  position: absolute;
  display: none;
  top: 0%;
  width: 245px;
  height: 312px;
  background-color: rgba(0, 0, 2, 0.5);
  margin: 5px;
}

.newcollection-listitem:hover .hover-info {
  display: block;
}

.add-to-curt_link {
  display: inline-block;
  width: 180px;
  height: 50px;
}

.mini-button1,
.mini-button2,
.mini-button3 {
  background: none;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 25px;
  margin-bottom: 7px;
  margin-top: 90px;
  cursor: pointer;
}

.mini-button1 {
  background-image: url(../img/heart.png);

  border: 1px solid #ffffff;
  margin-right: 13px;
}

.mini-button2 {
  background-image: url(../img/arrows.png);
  border: 1px solid #ffffff;
  margin-right: 13px;
}

.mini-button3 {
  background-image: url(../img/clock.png);
  border: 1px solid #ffffff;
}

.add-to-curt_button {
  display: inline-block;
  width: 180px;
  height: 50px;
  border: 1px solid #ffffff;
  background-color: #323232;
}

.curt {
  float: left;
  padding: 11px 0 12px 13px;
}

.add-to-curt_text {
  margin: 0;
  padding: 20px 18px 20px 0;
  float: right;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.mini-button1:hover,
.mini-button2:hover,
.mini-button3:hover,
.add-to-curt_button:hover {
  background-color: #1abc9c;
}

.footer {
  height: 88px;
  background-color: #323232;
  text-align: center;
}

.footer p {
  display: inline-block;
  margin: 0;
  margin-top: 38px;
  color: #fefefe;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.footer p span {
  color: #46bfa9;
}
