.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 1110px;
    margin: auto;
}

.header {
    padding-top: 38px;
}

.header__nav-logolink {
    display: inline-block;
}

.header__nav-logo {
    float: left;
    margin: 0;
    padding: 0;
    color: #555252;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: 300;
    line-height: 32px;
    text-transform: uppercase;
}

.header__nav-logo::first-letter {
    color: #1abc9c;
    font-family: "Roboto";
    font-weight: 900;
    letter-spacing: -0.6px;
}

.header__nav-list {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header__nav-listitem {
    float: left;

}

.header__nav-link {
    text-decoration: none;
    color: #0f0101;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__nav-listitem:not(:last-of-type) {
    margin-right: 20px;

}

.header__nav-link:hover {
    color: #1abc9c;
}

.featured-products {
    text-align: center;
    padding-top: 110px;
    font-size: 0;
    margin-bottom: 105px;
}

.featured-products__name {
    margin: 0;
    margin-bottom: 92px;
    color: #515151;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.96px;
}

.featured-products__name::after {
    content: '';
    display: block;
    margin: 32px auto 0;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
}

.featured-products__list {
    padding: 0;
    text-align: justify;
}

.featured-products__listitem {
    float: left;
    width: 255px;
    height: 322px;
    background-color: #e9f0fd;
    text-align: center;
}

.featured-products__listitem:not(:nth-of-type(4n)):not(:nth-of-type(8n)) {
    margin-right: 30px;
}


.featured-products__listitem:not(:nth-of-type(n+5)) {
    margin-bottom: 30px;    
}

.featured-products__listitem:hover .product_bottom-text {
    background-color: #1abc9c;
}

.image_placer {
    width: 255px;
    height: 282px;
}

.product_bottom-text {
    width: 255px;
    height: 40px;
    background-color: #323232;
}

.product_name {
    float: left;
    margin: 0;
    padding: 11px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.36px;
}

.product_price {
    float: right;
    margin: 0;
    padding: 11px;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.36px;
    background-color: rgba(255,255,255,0.3);
}













.latest-news__name {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #555252;
    font-family: "Roboto";
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.96px;
}

.latest-news__name::after {
    content: '';
    display: block;
    margin: 32px auto 81px;
    width: 164px;
    height: 7px;
    background-color: #4ec6ab;
    
}

.latest-news__section {
    width: 350px;
    float: left;
}

.latest-news__section:not(:last-of-type) {
    margin-right: 26px;
}

.latest-news__section_name {
    margin: 0;
    color: #555252;
    font-family: "Open Sans - Semibold";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
}

.latest-news__section_name::after {
    content: '';
    display: block;
    margin: 11px 0 29px;
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
}
.latest-news__section_text {
    margin: 0;
    margin-bottom: 11px;
    color: #555252;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.28px;
}

.latest-news__section_button {
    display: inline-block;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.32px;
    background-color: #4ec6ab;
    text-decoration: none;
    padding: 19px 42px;
    
}

.latest-news__section_button:hover {
    background-color: #319b84;
}